/*Variables*/
/*Header*/
/*Menu Color*/
/*Mixins*/
.block-block-content { padding: 40px 0; }
.block-block-content h2 { font-family: "Chicle", cursive; text-align: center; font-size: 35px !important; }

blockquote { font-family: "Chicle", cursive; text-align: center; font-size: 35px !important; margin-bottom: 20px; }

/*Front page CSS start*/
.path-frontpage .whybookyourcooks { background: url(../images/custom/bg.jpg); background-size: cover; padding: 100px 0; }
